
   
.div1{width: 100%;position:fixed ;background-color: white;
  padding: top: 10px;margin-top:0px;z-index: 100;

}
   
   .menu{
     
      font-weight:100;
      font-family: Arial, Helvetica, sans-serif;
      color:grey;
       padding-left: 20px;
       padding-right: 20px;
        display: inline;
       
   }
   .paraula_1{background-color: rgb(175, 132, 24);
      text-align: center;color: azure;
      font-weight: lighter;
      font-size: 16px ;
      font-family: Arial, Helvetica, sans-serif;
       padding: 20px;}
 .div2{}
   img{

   }
   
   
   
   
   
    
 .box, .box1{font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;color:azure;
      border-radius: 100px
      ;background-color:rgba(6, 182, 76, 0.857);
      position:absolute ;
       top: 500px;
      left:300px;
      padding: 10px;
      ;font-weight: lighter;
      width: 100px;
      text-align: center;
     }
      .box1{ 
        position: absolute;top:500; left: 500px;
        color:black;background-color:rgba(255, 255,255, 0.5);
      }
      
    
   .box:hover {background-color: rgb(41, 238, 6);color:azure;
        
       }
       .box1:hover{background-color: azure;

       }

       p{position: absolute;top: 150px;left: 300px;;font-size: 20px;
         font-family: Arial, Helvetica, sans-s
         ;font-weight: bolder;color: azure;  
         
        
        
       }
       .mariaStuarda{
        font-size:400%; font-family: Arial, Helvetica, sans-serif
        ;font-weight: bolder;color: azure;  
    
       }
       .gaetano{
        font-size:16px; font-family: Arial, Helvetica, sans-serif
        ;font-weight: bold;color: azure;  
       }
       .linea4{
        font-size:14; font-family: Arial, Helvetica, sans-serif
       ;font-weight: bold;color: azure;  
       }

       .lesArts{ font-size: 20px;font-family: Arial, Helvetica, sans-serif;
         font-style: oblique;color: azure;
         font-weight:bold; }
         .Butons{display:inline;}

          .Butons1, .tols{display: inline;
         list-style-type: none;
          background-color: white
          ;color: black;
          font-size:16; font-family: Arial, Helvetica, sans-serif
          ;font-weight: lighter;
          border-radius: 100px; padding: 20px;text-align: center;
          border: solid black;
          float:left;margin: 5px;
          }
          .tols{background-color: grey;
            color: azure;}
         
         .Butons:hover li:hover{
          background-color: grey;
          color: azure;
         }
      
   